$background: white;
$foreground: lightgray;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$blue: blue;
$purple: purple;
$pink: pink;

$font-family-primary: 'Mulish', sans-serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-family-monospace: 'Fira Code', monospace;