<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="CodeAnalysis" Description=" " ToolsVersion="17.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S100" Action="Warning" />
    <Rule Id="S103" Action="Warning" />
    <Rule Id="S105" Action="Warning" />
    <Rule Id="S1067" Action="Warning" />
    <Rule Id="S107" Action="Warning" />
    <Rule Id="S110" Action="Warning" />
    <Rule Id="S1109" Action="Warning" />
    <Rule Id="S1128" Action="Warning" />
    <Rule Id="S1151" Action="Warning" />
    <Rule Id="S1200" Action="Warning" />
    <Rule Id="S122" Action="Warning" />
    <Rule Id="S1244" Action="Warning" />
    <Rule Id="S126" Action="Warning" />
    <Rule Id="S1264" Action="None" />
    <Rule Id="S127" Action="Warning" />
    <Rule Id="S134" Action="Warning" />
    <Rule Id="S1541" Action="Warning" />
    <Rule Id="S1696" Action="Warning" />
    <Rule Id="S1698" Action="Warning" />
    <Rule Id="S1821" Action="Warning" />
    <Rule Id="S1858" Action="Warning" />
    <Rule Id="S1994" Action="Warning" />
    <Rule Id="S2148" Action="Warning" />
    <Rule Id="S2221" Action="Warning" />
    <Rule Id="S2302" Action="Warning" />
    <Rule Id="S2327" Action="Warning" />
    <Rule Id="S2333" Action="Warning" />
    <Rule Id="S2760" Action="Warning" />
    <Rule Id="S3052" Action="Warning" />
    <Rule Id="S3215" Action="Warning" />
    <Rule Id="S3216" Action="Warning" />
    <Rule Id="S3234" Action="Warning" />
    <Rule Id="S3235" Action="Warning" />
    <Rule Id="S3240" Action="Warning" />
    <Rule Id="S3253" Action="Warning" />
    <Rule Id="S3257" Action="Warning" />
    <Rule Id="S3353" Action="Warning" />
    <Rule Id="S3366" Action="Warning" />
    <Rule Id="S3431" Action="Warning" />
    <Rule Id="S3441" Action="Warning" />
    <Rule Id="S3717" Action="Warning" />
    <Rule Id="S3776" Action="Warning" />
    <Rule Id="S3872" Action="Warning" />
    <Rule Id="S3874" Action="Warning" />
    <Rule Id="S3904" Action="None" />
    <Rule Id="S3962" Action="Warning" />
    <Rule Id="S3963" Action="None" />
    <Rule Id="S3993" Action="Warning" />
    <Rule Id="S3994" Action="Warning" />
    <Rule Id="S3995" Action="Warning" />
    <Rule Id="S3996" Action="Warning" />
    <Rule Id="S4005" Action="Warning" />
    <Rule Id="S4016" Action="Warning" />
    <Rule Id="S4022" Action="Warning" />
    <Rule Id="S4026" Action="Warning" />
    <Rule Id="S4027" Action="Warning" />
    <Rule Id="S4040" Action="Warning" />
    <Rule Id="S4041" Action="Warning" />
    <Rule Id="S4059" Action="Warning" />
    <Rule Id="S4226" Action="Warning" />
    <Rule Id="S4261" Action="Warning" />
  </Rules>
</RuleSet>